In [1]:
import pandas as pd

In [2]:
ordered_data = pd.read_csv('Skyserver_SQL8_22_2024_8_39_07_PM.csv', low_memory=False, skiprows=1)
ordered_data_with_photo_z = pd.read_csv('skyserver_big.csv', low_memory=False, skiprows=1)

In [3]:
ordered_data_with_photo_z.shape

(500000, 11)

In [7]:
ordered_data_with_photo_z

,objID,run,ra,dec,rerun,camcol,field,z,zErr,template_photo_z,template_photo_zErr
0,1237645879551000764,94,348.841087,1.268802,301,6,93,0.399661,0.000078,0.378505,0.041041
1,1237645879562928805,94,16.026029,1.266772,301,6,275,0.752730,0.000267,0.679374,0.068663
2,1237645879573873373,94,41.019613,1.271279,301,6,442,0.504868,0.000213,0.487843,0.041076
3,1237645941824356668,109,40.277836,-0.777074,301,2,37,0.366744,0.000062,0.335330,0.085458
4,1237645941824357025,109,40.284751,-0.767711,301,2,37,0.626599,0.000152,0.613922,0.042154
...,...,...,...,...,...,...,...,...,...,...,...
499995,1237661381695439435,3704,138.427231,30.873541,301,1,45,0.865179,0.000043,0.634326,0.181944
499996,1237661381695439511,3704,138.484067,30.847163,301,1,45,0.614904,0.000167,0.535190,0.038932
499997,1237661381695439677,3704,138.499647,30.937457,301,1,45,0.870894,0.000115,0.569975,0.170213
499998,1237661381695439774,3704,138.485624,31.017814,301,1,45,0.678025,0.000108,0.466289,0.093609
499999,1237661381695439888,3704,138.415864,30.907460,301,1,45,0.632688,0.000175,0.568042,0.035869

In [4]:
ordered_data_with_photo_z["objID"].head()

0    1237645879551000764
1    1237645879562928805
2    1237645879573873373
3    1237645941824356668
4    1237645941824357025
Name: objID, dtype: int64

In [5]:
ordered_data.head()

,objID,run,ra,dec,rerun,camcol,field,z,zErr,rChi2
0,1237645879551000764,94,348.841087,1.268802,301,6,93,0.399661,0.000078,0.930373
1,1237645879562928805,94,16.026029,1.266772,301,6,275,0.752730,0.000267,0.968836
2,1237645879573873373,94,41.019613,1.271279,301,6,442,0.504868,0.000213,1.079847
3,1237645941824356668,109,40.277836,-0.777074,301,2,37,0.366744,0.000062,0.914766
4,1237645941824357025,109,40.284751,-0.767711,301,2,37,0.626599,0.000152,1.000537

In [6]:
# set(ordered_data["objID"])

In [6]:
len(set(ordered_data["objID"]).difference(set(ordered_data_with_photo_z["objID"])))

6852

In [9]:
ordered_data["template_photo_z"] = -42
ordered_data["template_photo_zErr"] = -42

In [11]:
common_objIDs = set(ordered_data["objID"]).intersection(set(ordered_data_with_photo_z["objID"]))

In [12]:
len(common_objIDs)

93148

In [14]:
ordered_data_with_photo_z[ordered_data_with_photo_z["objID"].isin(common_objIDs)].to_csv('data_with_photo_z.csv')